.tips {
  margin-top: em(24);

  &__button {
    text-align: center;
    line-height: 1.188;
    display: block;
    width: 100%;
    padding: em(12) 0;
    background-color: $color-gray;
    border-radius: 2px;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE4IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMi42MzYwNCAwLjI5MjgyM0MyLjI0NTUxIC0wLjA5NzcwMTIgMS42MTIzNSAtMC4wOTc3MDE3IDEuMjIxODMgMC4yOTI4MjNDMC44MzEzMDEgMC42ODMzNDcgMC44MzEzMDEgMS4zMTY1MSAxLjIyMTgzIDEuNzA3MDRMNy41ODU3OSA4LjA3MUM4LjM2NjgzIDguODUyMDUgOS42MzMxNyA4Ljg1MjA1IDEwLjQxNDIgOC4wNzFMMTYuNzc4MiAxLjcwNzA0QzE3LjE2ODcgMS4zMTY1MSAxNy4xNjg3IDAuNjgzMzQ3IDE2Ljc3ODIgMC4yOTI4MjNDMTYuMzg3NiAtMC4wOTc3MDE3IDE1Ljc1NDUgLTAuMDk3NzAxNCAxNS4zNjQgMC4yOTI4MjNMMTAuNDE0MiA1LjI0MjU3QzkuNjMzMTcgNi4wMjM2MiA4LjM2NjgzIDYuMDIzNjIgNy41ODU3OSA1LjI0MjU3TDIuNjM2MDQgMC4yOTI4MjNaIiBmaWxsPSIjMDEwMTAxIi8+Cjwvc3ZnPgo=)
        center center no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 1.75em;
      transform: translateY(-50%);
      transition: transform 0.5s ease-in-out;
    }

    &.is-active {
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  // h3
  &__contents {
    padding: em(32) em(32) em(48);
    background-color: $color-white;
    border: 2px solid $color-gray;
    border-radius: 0 0 5px 5px;

    h3 {
      font-size: fz(20);
      margin-bottom: em(15, 20);
      border-left: 10px solid $color-gray;
      padding-left: em(16, 20);
    }

    h4 {
      font-size: fz(16);
      margin-bottom: em(10, 16);
    }

    section {
      margin-top: em(32);
    }

    p {
      margin-bottom: 1em;
    }

    pre {
      color: $color-white;
      font-size: fz(14);
      white-space: pre-wrap;
      background-color: $color-black;
      padding: 2em 2.5em 0.5em;
      margin-bottom: 1em;
    }

    figure {
      width: 60%;
      margin: auto auto 1em;
    }

    figcaption {
      font-size: fz(14);
      margin-top: em(8, 14);
    }
  }
}
